body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

form {
	width: 300px;
}

input {
	border: none;
	outline: none;
	border-bottom: 1px solid #ccc;
	font-size: 1rem;
	padding-bottom: 10px;
}