body {
	background-color: #ebecf0;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.log-wrap {
	width: 320px;
	padding: 16px;
	margin: 0 auto;
}

.headline {
	color: #61677c;
	text-shadow: 1px 1px 1px #FFFFFF;
	text-align: center;
}

.log-wrap input,
.log-wrap button {
	color: #61677c;
	padding: 16px;
	background-color: #ebecf0;
	text-shadow: 1px 1px 0 #FFFFFF;
	font-size: 16px;
	border-radius: 320px;
	width: 100%;
	border: none;
	outline: none;
	appearance: none;
	-webkit-appearance: none;
}

.input-item,
.log-button {
	width: 100%;
	margin-bottom: 20px;
}

.input-item input {
	box-shadow: inset 2px 2px 5px #babecc, inset -2px -2px 15px #FFFFFF;
	transition: all .2s ease-in-out;
	box-sizing: border-box;
}

.input-item input:focus {
	box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #FFFFFF;
}

.log-wrap button {
	box-shadow: 5px 5px 10px #babecc, -5px -5px 20px #FFFFFF;
	transition: all .2s ease-in-out;
}

.log-wrap button:hover {
	box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #FFFFFF;
}

.log-wrap button:active {
	box-shadow: inset -1px -1px #FFFFFF, inset 1px 1px 2px #babecc;
}

.log-button button {
	color: #ea1100;
	font-weight: 900;
	letter-spacing: 5px;
}

.button-group {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-group .button-item,
.segment .button-item {
	width: 48px;
	height: 48px;
	border-radius: 5px;
	margin: 0 8px;
	color: #61677c;
}

.segment {
	display: flex;
	justify-content: space-between;
}