* {
  padding: 0;
  margin: 0;
}

:root {
  --border-color: #03e9f4;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.flash-btn {
  letter-spacing: 2px;
  font-size: 40px;
  user-select: none;
  display: inline-block;
  padding: 10px;
  position: relative;
  color: var(--border-color);
  overflow: hidden;
}

.flash-btn:hover {
  background-color: #03e9f4;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--border-color), 0 0 25px var(--border-color),
    0 0 50px var(--border-color), 0 0 100px var(--border-color);
}

.flash-btn span {
  position: absolute;
  display: block;
}

.flash-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, var(--border-color));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.flash-btn span:nth-child(2) {
  top: -100%;
  right: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, var(--border-color));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.flash-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(-90deg, transparent, var(--border-color));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
.flash-btn span:nth-child(4) {
  bottom: -100%;
  left: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, transparent, var(--border-color));
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
